<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <section class="section">
        <div class="container">
            <div>
                <form class="product-form" action="add-product" method="POST">
                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control">
                            <input class="input" type="text" name="title">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Image URL</label>
                        <div class="control">
                            <input class="input" type="text" name="image_url">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" name="description"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Price</label>
                        <div class="control">
                            <input class="input" type="number" step="0.01" name="price">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Add Product</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>